<script src="js/bundle.js"></script>

<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row tt-row no-gutters">
                <div class="col-auto footer-info">
                    <a href="/" class="logo d-flex align-items-center">
                        <img src="<%=websiteDetails.website_logo%>" alt="<%=websiteDetails.website_title%>">

                    </a>
                    <p><%=websiteDetails.website_description%></p>

                    <div class="social-links mt-3">
                        <a href="https://" class="twitter"><i class="bi bi-twitter twitter"></i></a>
                        
                        <a href="https://" class="facebook"><i class="bi bi-facebook facebook"></i></a>

                        <a href="https://www.instagram.com/p/CQdkn7shzSY/?utm_medium=copy_link" class="instagram"><i class="bi bi-instagram bx bxl-instagram instagram"></i></a>

                        <a href="https://" class="youtbe"><i class="bi bi-youtube bx bxl-youtube youtube"></i></a>
                    </div>

                </div>

                <div class="col-auto ml-auto footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/about-us">About us</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/packages">Packages</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/advertise">Advertise Products</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/contact-us">Contact Us</a></li>
                    </ul>
                </div>

                <div class="col-auto ml-auto footer-links">
                    <h4>Legal</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/privacy-policy">Privacy Policy</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/tos">Terms Of Service</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/return-policy">Return Policy</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/page/disclaimer">Disclaimer</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/user/report/history">Report</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            © Copyright <strong><span>Xtrafotune</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="">Flexible Tech Lab</a>
        </div>
    </div>
</footer>


<%-include("../components/advancedSearchBox")%>
<%-include("../components/searchBoxMobile")%>
<%-include("./svg")%>
</body>


</html>