<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="<%=websiteDetails.website_favicon %>">
    <link rel="icon" type="image/png" href="<%=websiteDetails.website_favicon %>">

    <meta content="<%= websiteDetails.website_description %>" name="description">
    <title>
        <%=title%> - <%=websiteDetails.website_tagline %>
    </title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/css/user/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/css/user/css/nucleo-svg.css" rel="stylesheet" />
    <link href="/css/user/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/css/user/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />

    <link href="/css/user/css/custom.css" rel="stylesheet" />
</head>

<body class="g-sidenav-show bg-gray-100">

    <!--Sidebar-->
    <%-include("../partials/sidebar")%>
    <!--Sidebar-->


    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">

        
        <!-- Navbar -->
        <%-include("../partials/navbar")%>
        <!-- End Navbar -->


        <div class="container-fluid py-4">
            
            


