<%-include("../../partials/header")%>


    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Basic Settings</h4>
        
                    <form id="basic-settings">
        
                        <div class="form-group">
                            <label for="fullname">Full Name</label>
                            <input type="text" value="<%=user.fullname%>" class="form-control" id="fullname">
                        </div>
        
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" value="<%=user.email%>" class="form-control" id="email">
                        </div>
        
                        <div class="form-group">
                            <label for="phone-number">Phone Number</label>
                            <input type="text" value="<%=user.phone_number%>" class="form-control" id="phone-number">
                        </div>
        
        
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save Changes</button>
                    </form>
        
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
        
        
        <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="card">
                <div class="card-body">
                    <h4 class="mb-3 header-title">Profile Picture</h4>
        
                    <form id="avatar-form">
                        <div class="form-group">
                            <img src="<%=user.avatar ? user.avatar:'/img/avatar/avatar.jpg' %>" alt="image" class="img-fluid rounded-circle img-thumbnail avatar-preview"
                                style="width: 120px;height: 120px;object-fit: contain;">
                        </div>
        
        
                        <div class="form-group">
                            <label for="avatar">New Profile Picture</label>
                            <input required type="file" accept="image/*" class="form-control" id="avatar" placeholder="New Profile Picture">
        
                        </div>
        
        
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Change Profile
                            Picture</button>
                    </form>
        
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>



<script src="/js/user/settings/profile.js"></script>


<%-include("../../partials/footer")%>
