<%- include('../../partials/header'); %>




    <div class="container-fluid dashboard-content">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">
                        <%= title %>
                    </h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                
                <div class="card">
                    <div class="card-body">
                        <div id="scroll-horizontal-datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                            <div class="row">
                                
                            
                    
                                <div class="col-sm-12 col-md-4">
                                    <div id="scroll-horizontal-datatable_filter" class="dataTables_filter">
                                        <form id="trans"><label>Search By Trx ID:</label><input type="search"
                                                class="form-control form-control-sm" placeholder="Search By Transaction ID"
                                                aria-controls="scroll-horizontal-datatable"></form>
                                    </div><br>
                    
                    
                                </div>
                    
                    
                    
                                <div class="col-sm-12 col-md-4">
                                    <div class="dataTables_length" id="scroll-horizontal-datatable_length">
                                        <label>Reset:</label><br>
                                        <a href="javascript: void(0);" class="btn btn-xs btn-warning reset"><i
                                                class="mdi mdi-delete-forever"></i> Reset
                                            Query</a>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <%if(history.length > 1){%>

                    
                    <h5 class="card-header">
                        <div class="actions float-right">
                            
                        
                            <a href="javascript: void(0);" id="approved-marked" class="btn btn-xs btn-info ml-1 pay">Approved Marked <i
                                    class="fa fa-paper-plane" aria-hidden="true"></i></a>
                        
                            <a href="javascript: void(0);" id="delete-marked" class="btn btn-xs btn-danger ml-1">Delete Marked <i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                        
                        
                        </div>

                    </h5>
                    <%}%>

                    <div class="card-body p-0">
                        <%if(history.length> 0){ %>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            
                                            

                                            
                                            <th class="border-0">
                                                
                                                <label class="custom-control custom-checkbox">
                                                <input id="mark-head" type="checkbox" class="custom-control-input"><span class="custom-control-label"></span>
                                            </label>
                                            
                                            </th>
                                            

                                            <th class="border-0">#</th>
                                            <th class="border-0">Trx ID</th>
                                            <th class="border-0">User</th>
                                            <th class="border-0">Amount</th>
                                            <th class="border-0">Proof</th>
                                            <th class="border-0">Date</th>
                                            <th class="border-0">Status</th>
                                            <th class="border-0">Action</th>
                                            
                                            
        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%history.map((ht,index)=>{ %>
                                            <tr>
                                               
                                                <td>
                                                    <label class="custom-control custom-checkbox">
                                                    <input data-email="<%=ht.email%>" data-amount="<%=ht.h_amount%>" data-user_id="<%=ht.h_user_id %>" data-id="<%=ht.h_id %>"
                                                    data-proof="<%=ht.h_proof %>" id="mark" type="checkbox" class="custom-control-input"><span
                                                        class="custom-control-label"></span>
                                                </label>

                                                </td>
                                                

                                                <td>
                                                    <%=index + 1 %>
                                                </td>
        
                                                <td>
                                                    <%=ht.h_trans %>
                                                </td>
                                                <td>
                                                    <strong><%=ht.username%></strong>
                                                </td>
                                                <td>
                                                    <%=websiteDetails.website_currency%><%=ht.h_amount %> 
                                                </td>
                                                
                                                <td>
                                                    <a href="javascript: void(0);" class="btn btn-xs btn-info ml-1 view" data-toggle="modal" data-target="#proof-<%=ht.h_id%>"><i class="fa fa-eye" aria-hidden="true"></i> View Proof</a>
                                                </td>
                                                <td>
                                                    <%=ht.h_created%>
                                                </td>

                                                
        
                                                <td>
                                                    <%if(ht.h_status){%>
                                                    <button type="button" class="btn btn-success btn-xs waves-effect waves-light">Completed</button>
                                                    <%}else{%>
                                                    
                                                    <button type="button" class="btn btn-danger btn-xs waves-effect waves-light">Pending</button>
                                                    
                                                    <%} %>
                                                </td>
        
                                                
                                                <td>
                                                    <a data-amount="<%=ht.h_amount%>" data-email="<%=ht.email%>"data-user_id="<%=ht.h_user_id %>" data-id="<%=ht.h_id %>"
                                                    data-proof="<%=ht.h_proof %>"
                                                    href="javascript: void(0);" class="btn btn-xs btn-info ml-1 approvedbtn"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
        
                                                    <a id="delete-one-btn"  data-id="<%=ht.h_id%>" href="javascript: void(0);" class="btn btn-xs btn-danger ml-1 "><i
                                                            class="fa fa-trash" aria-hidden="true"></i></a>
                                                </td>
                                                
        
        
                                            </tr>

                                            <!--PROOF MODAL-->
                                            <%-include("./modal/proofModal",{ht})%>
                                            <!--PROOF MODAL-->
                                            
                                            
                                            <% }) %>
        
                                                <tr>
                                                    <td colspan="9"></td>
                                                </tr>
                                    </tbody>
        
                                </table>

                                <%-include("../../partials/pagination")%>
                                
        
                            </div>
                            <% }else{%>
                                <h3 class="text-center pt-3">No Activation At The Moment</h3>
                                <%}%>
                    </div>
                </div>
            </div>
        </div>



        
    </div>

<script src="/js/admin/activation/activationList.js"></script>
<script src="/js/partials/adminFetcher.js"></script>
<script src="/js/partials/sweetalert.js"></script>
<%-include('../../partials/footer'); %>